# Основы  Python

## Семантика языка

### Отступы вместо скобок

In [3]:
array = [1, 2, 3, 4, 5, 6]
pivot = 5
less = []
greater = []

for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

In [4]:
        
a = 5; b = 6; c = 7

### Всё является объектом

Важная характеристика языка - его объектная модель. Все числа, строки, структуры данных, функции, классы, модули и т.д. в интерпретаторе заключены в "ящики" которые называются объектами Python. 

С каждым объектом ассоциирован тип (например, строка или функция) и внутренние данные.

### Комментарии

In [8]:
results = []
for item in array:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    results.append(item)

print("Reached this line")  # Simple status report
print("results", results)

Reached this line
results [1, 2, 3, 4, 5, 6]

### Вызов функции и метода объекта
Как и во всех других языках.

После имени ставятся круглые скобки, внутри которых может быть ноль или более параметров.


result = f(x, y, z)
g()

obj.some_method(x, y, z)

result = f(a, b, c, d=5, e='foo')

### Переменные и передача по ссылке.

In [9]:
a = [1, 2, 3]

In [10]:
b = a

In [11]:
a.append(4)
b

[1, 2, 3, 4]

### Динамические ссылки, строгие типы

In [12]:
a = 5
print(type(a))
a = 'foo'
print(type(a))

<class 'int'>
<class 'str'>

In [21]:
# Этот код вызовет ошибку

#'5' + 5

#  А этот нет 

# a = 4.5
# b = 2
# print(a / b)

In [22]:
a = 5
isinstance(a, int)

True

In [24]:
a = 5; b = 4.5
print(isinstance(a, (int, float)))
print(isinstance(b, (int, float)))

True
True

### Аттрибуты и методы

In [29]:
a = 'foo'

## Импорт

In [5]:
import Tasks.python_recap.some_module as sm

results = sm.f(5)
pi = sm.PI


# ТО же самое 
from Tasks.python_recap.some_module import f, g, PI
results = f(5)
pi = PI

### Бинарные операторы

a + b

a - b

a * b

a / b

a // b

a ** b

a & b

a | b

a ^ b

a == b

a != b

a < b , a <= b

a > b , a >= b

a is b

a is not b

In [6]:
5 - 7
12 + 21.5
5 <= 2

False

In [7]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

True

In [8]:
a == c

True

In [9]:
a = None
a is None

True

###  Изменяемые и неизменяемые объекты

Изменяемый - объект или значение которое хранится в этом объекте можно поменять

In [10]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [11]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

### Скалярные типы 

None 

Str

unicode

float

bool

int

long

#### Числовые

In [18]:
fval = 7.243
fval2 = 6.78e-5

3 / 2

3 // 2

1

In [18]:
fval = 7.243
fval2 = 6.78e-5

3 / 2

3 // 2

1

#### Строки

a = 'one way of writing a string' b = "another way"

#### Булевы

In [20]:
c.count('\n')

3

In [22]:
a = 'this is a string'
#a[10] = 'f'
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [23]:
a

'this is a string'

In [24]:
a = 5.6
s = str(a)
print(s)

5.6

In [25]:
# строка - последовательность элементов
s = 'python'
list(s)
s[:3]

'pyt'

In [26]:
# экранирование
s = '12\\34'
print(s)

12\34

In [27]:
s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

In [28]:
# конкатенация
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [30]:
# Форматирование строк
template = '{0:.2f} {1:s} are worth US${2:d}'

In [31]:
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

#### Булевы

In [33]:
print(True and True)
print(False or True)

True
True

### Преобразование типов

In [34]:
s = '3.14159'
fval = float(s)
print(type(fval))
print(int(fval))
print(bool(fval))
print(bool(0))

<class 'float'>
3
True
False

### Тип None

In [36]:
a = None
print(a is None)
b = 5
print(b is not None)

True
True

In [37]:
type(None)

NoneType

### Дата и время

In [39]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
print(dt.day)
print(dt.minute)

29
30

In [41]:
print(dt.date())
print(dt.time())

2011-10-29
20:30:21

In [43]:
# в строку
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [44]:
# из строки
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [45]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [46]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

datetime.timedelta

In [47]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

## Поток выполнения

### if, elif, else

In [48]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it')

Made it

In [51]:
if a < 0:
    print("Отрицательно")
elif a == 0:
    print("равно нулю")
elif 0 < a < 5:
    print("меньше 5")
else:
    print("больше или равно 5")

больше или равно 5

### Циклы for

In [52]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

### Циклы while

In [54]:
x = 10

while x > 0:
    x -= 1
print(x)

0

### Range

In [59]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
print(list(range(0, 20, 2)))
print(list(range(5, 0, -1)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[5, 4, 3, 2, 1]

### Тернарные выражения

In [61]:
x = 5
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'